.App{
        display: flex;
        flex-direction: column;
        max-width: 100% !important;
        align-items: center;
        padding: 5% 10%;
}
.main-avatar{
        width: 250px !important;
        height: 250px !important;
        filter: drop-shadow(0px 10px 7px darkgray);
}
.name-paper{
        margin-top: 5px; 
        padding: 7px 20px;
        border-radius: 7px !important;
        border: 0.4px solid rgb(76, 100, 235);
}
.about{
        margin-top: 10px;
        padding: 15px;
        width: 47.5%;
        text-align: center !important;
}
.name-paper h1{
        font-weight: 400 !important;
}
.socials{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
}
.social-btn{
        margin: 0 5px !important;
        transition: all ease-in-out 0.3s !important;
}
@media (max-width: 500px){
        .about{
                width: 100% !important;
        }
        .section-btn{
                font-size: 10px !important;
        }
        .section-icon{
                display: none !important;
        }
        .experience, .projects, .skills{
                width: 100% !important;
        }
}
/*===========================
=========== SKILLS ===========
=============================*/
.skills{
        margin-top: 10px;
        width: 65%;
}
.skill-section{
        margin-top: 10px;
        border-radius: 7px !important;
}
.skill-item{
        margin: 2px 5px !important;
}
/*===========================
=========PROJECTS ==========
=============================*/
.projects{
        margin-top: 10px;
        width: 65%;
}
.project-card{
        margin-top: 10px !important;
        border-radius: 7px !important;
}

/*===========================
=========EXPERIENCE ==========
=============================*/
.experience{
        margin-top: 10px;
        width: 65%;
}
.exp-card{
        margin-top: 10px !important;
        border-radius: 7px !important;
}
/*===========================
========== TIMELINE ==========
=============================*/
.timeline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .year-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .year-container .year-chip{
        width: fit-content !important;
        font-size: 20px !important;
        margin: 10px auto;
        transition: all ease-in-out 0.2s;
        position: sticky;
        top: 10px;
        z-index: 200;
    }
    .year-container .year-chip:hover{
        transform: scale(1.2);
        background: darkgray !important;
        color: white !important;
    }
    .year-container .event-card {
        width: 35%;
        margin: 5px 0;
        margin-left: 15%;
        text-align: right;
        transition: all ease-in-out 0.3s;
    }
    .year-container .event-card:hover {
        background: rgb(78, 158, 223);
    }
    .year-container .event-card:hover *{
        color: white !important;
    }
    .year-container .event-card.right {
        margin-right: 15%;
        align-self: flex-end;
        text-align: left;
    }
    @media (max-width:500px){
            .event-card{
                    width: 90% !important;
                    align-self: center !important;
                    text-align: center !important;
                    margin: 5px 0 !important;
            }
            .event-card.right{
                    align-self: center !important;
                    text-align: center !important;
            }
    }