@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');
#root .page{
    width: 75% !important;
    height: 70% !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 1px 1px 30px 2px rgba(10, 10, 10, 0.5);
    transform: scale(1.005) !important;
    transition: all ease-in-out 0.3s;
}
#root .page:hover{
    box-shadow: 1px 1px 5px 1px rgba(10, 10, 10, 0.5);
    transform: scale(1) !important;     
}
#root .page .left-pane{
    width: 35% !important;
    height: 100% !important;
    background: rgba(84, 140, 214,0.9) !important;
}
#root .page .right-pane{
    min-width: 65% !important;
    height: 100% !important;
    background: rgba(250,250,250,0.9) !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
}
#root .page .right-pane .imgbox{
    z-index: 100 !important;
    height: 300px !important;
    width: 300px !important;
    margin-left: -22% !important;
    border-radius: 100% !important;
    display: flex !important;
    justify-content: center !important;
    background-image: url('./res/profile.jpg');
    background-position: 33% center !important;
    background-size: 150% auto !important;
    box-shadow: 1px 1px 10px 0.5px rgba(10, 10, 10, 0.5);
    cursor: pointer !important;
    transition: all ease-in-out 0.4s !important;
}
#root .page .right-pane .imgbox:hover{
    box-shadow: 1px 1px 5px 1px rgba(10, 10, 10, 0.5);
}
#root .page .right-pane .imgbox:hover~.name.first{
    filter: blur(2px);
}
#root .page .right-pane .imgbox:active{
    transform: rotate(360deg) scale(0.5);
    margin-left: -22.5% !important;
}
#root .page .right-pane .name{
    font-family: 'Quicksand', sans-serif !important;
    flex: 1 !important;
    font-weight: 300 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 50px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
    font-size: 58px !important;
}
.name .first{
    /* font-size: 58px !important; */
    font-weight: 400 !important;
    color: rgb(119, 119, 119) !important;
}
.name .second{
    font-weight: 400 !important;
    /* font-size: 52px !important; */
    color: rgb(44, 99, 172);
}
.title{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 20px !important;
}
.btn-container{
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    padding: 10px 20px !important;
}
.btn-blue{
    font-family: 'Quicksand', sans-serif !important;
    cursor: pointer !important;
    width: fit-content !important;
    background: rgba(44, 99, 172,1);
    color: white !important;
    border-radius: 20px !important;
    padding: 5px 10px !important;
    margin: 0 2px !important;
    filter: drop-shadow(1px 2px 8px rgba(10, 10, 10, 0.5));
    transition: all ease-in-out 0.2s !important;
}
.btn-blue:active{
    background: rgb(84, 140, 214);
}
.btn-blue:hover{
    transform: scale(1.04);
    background: rgb(84, 140, 214);
}


/*
.hor-flex-box{
    display: flex !important;
    width: 90% !important;
    flex-direction: row !important;
    padding: 10px 5% !important;
    justify-content: center !important;
    position: relative !important;
}
.ver-flex-box{
    position: relative !important;
    display: flex !important;
    flex: 1;
    flex-direction: column !important;
    padding: 2px 5px !important;
    align-items: center !important;
}
.ver-divider{
    display: block !important;
    width: 1px !important;
    background: gray !important;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}
.test-box{
    width: 100% !important;
    height: 20px !important;
    background: red !important;
    margin: 2px;
    animation-duration: 400ms; 
    animation-timing-function: ease-out; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-name: slideInFromTop; 
}
.test-box2{
    width: 100%;
    height: 60px;
    background: blue;
    animation-duration: 400ms; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInFromTop;
}
h1{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px !important;
    padding: 5px 0 !important;
    margin: 0 !important;
    width: 100% !important;
    text-align: center !important;
    transition: all ease-in-out 0.2s;
    cursor: default !important;
}
h1:hover{
    background: rgba(150,150,150,0.2);
    font-weight: 400 !important;
}
*/