@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
.root {
}
.head {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 18.3% 0;
  margin: 0;
  background-color: rgba(255,255,255,0) !important;
  border-bottom: 2px solid #4A5899;
  border-top: 2px solid  #4A5899;
  transition: all linear 0.4s;
  cursor: pointer !important;
}
.resize {
  font-size: inherit !important;
  width: -webkit-fit-content;
  height: auto;
  margin: 0 auto 0 auto;
  padding: 5% 5%;
  transition: all linear 0.4s;
}
.head h1 {
  font-size: 4rem;
  color: #4A5899;
  font-weight: 400;
}
.head h3 {
  color: #4A5899;
  font-weight: 400;
}
.resize h1 {
    font-size: 50px !important;
}
.resize h3 {
  font-size: 1rem !important;
}
.down-line{
  height: 150px;
  width: 4px;
  margin: 0 auto;
  background-color:#698AAD;
}
.down-line-small {
  height: 50px !important;
  width: 4px !important;
  margin: 0 auto;
  background-color: #698AAD;
}
.line-dot{
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #DD6E42;
}
.line-dot h2 {
  margin: 0;
  position: relative;
  padding-top: 15%;
  margin-left: 110%;
}
.event-card-right {
  display: block;
  width: 30%;
  margin-left: calc(50% - 2px);
  padding-left: 40px !important;
  margin-top: -3.5%;
  background-color: rgba(0,0,0,0) !important;
  border-left: 4px solid #698AAD;
}
.event-card-left {
  text-align: right;
  display: block;
  width: 30%;
  margin-left: calc(20% + 2.5px); 
  margin-top: -3.5%;
  background-color: rgba(0,0,0,0) !important;
  padding-right: 40px !important;
  border-right: 4px solid #698AAD;
  transition: all ease-in 0.3s;
}
.event-card-right:hover{
  transform: scale(1.2);
  background-color: rgba(255,255,255,1) !important;
  border: 4px solid #698AAD;
}
.event-card-left:hover{
  transform: scale(1.2);
  background-color: rgba(255,255,255,1) !important;
  border: 4px solid #698AAD;
}
.line-branch-right {
  height: 4px;
  width: 47px;
  background-color: #698AAD;
  margin-left: 49.9%;
}
.line-branch-left {
  height: 4px;
  width: 47px;
  background-color: #698AAD;
  margin-left: calc(50% - 45px);
}
.avatar {
  width: 20% !important;
  height: 20% !important;
  margin: 0 auto;
  filter: drop-shadow(1px 4px 2px gray);
  transition: all ease-out 0.4s;
  border: 2px solid #FBBC05;
}
.avatar-resize {
  margin-top: 10% !important;
  transition: all ease-out 0.4s;
}
.avatar-big {
  width: 21% !important;
  height: 21% !important;
  margin-left: 39.5%;
}
.home-name {
  width: -webkit-fit-content;
  white-space: nowrap !important;
  max-width: 100% !important;
  text-overflow: ellipsis !important;
  margin: 0 auto;
  transition: all ease-in 0.3s;
  background-color: #4285F4;
  overflow: hidden;
  color: white;
  padding: 7px 10px;
  position: relative;
  border-radius: 35px !important;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.2px;
  opacity: 0;
  filter: drop-shadow(inset 4px 8px 2px gray);
  transition: all ease-out 0.2s;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
}
.home-name.arrow{
  text-align: center !important;
  padding: 7px 8px 5px 8px !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  flex-direction: column !important;
  font-size: 18px;
  color: white;
  background: #4285F4;
  z-index: 1 !important;
}
.home-name:hover{
  background-color: #2F5B87;
}
.home-name-big{
  font-size: 30px;
}
.home {
  display: flex !important;
  flex-direction: column !important;
  user-select: none !important;
  cursor: default;
}
div.home-name {
  cursor: pointer;
  background: none;
  border: 2px solid #EA4335;
  color: #EA4335;
}
div.home-name:hover {
  background-color: #EA4335;
  color: white !important;
}
div.home-name:hover
  svg {
     color: white !important; 
  }
div.home-name svg {
  color: #EA4335 !important;
  margin: auto 4px !important;
  flex: 1 !important;
}
div.home-name span {
  font-size: 18px;
  flex: 1 !important;
  margin-top: 2px;
  margin-right: 5px;
}
h1.home-name{
  padding: 10px 20px;
  border: 2px solid #4285F4;
  background: white;
  color: #4285F4;
  z-index: 3;
}
h1.home-name:hover {
  background: #4285F4;
  color: white;
}
.hidden-content {
  display: none;
  transition: all linear 0.3s !important;
}
.home h2 {
  font-size: 19px;
}
h2.home-name {
  padding: 5px 15px !important;
  background: none;
  cursor: pointer;
}
h2.home-name.green {
  border: 2px solid #34A853;
  color: #34A853;
}
h2.home-name.green:hover{
  background: #34A853;
  color: white;
}
.icon.green{
  color: #34A853 !important;
}
h2.home-name:hover 
  .icon.green{
    color: white !important;
  }
h2.home-name.blue {
  border: 2px solid #4285F4;
  color: #4285F4;
}
h2.home-name.blue:hover{
  background: #4285F4;
  color: white;
}
.icon.blue {
  color: #4285F4 !important;
}
h2.home-name:hover 
  .icon.blue{
    color: white !important;
  }
.home .project-card {
  width: fit-content !important;
  height: fit-content !important;
  margin: 4px auto;
  margin-bottom: 10px !important;
  max-width: 80% !important;
  /* background-color: rgba(50,200,50,0.4) !important; */
  /* border-radius: 15px !important; */
}
h2.home-name{
  text-align: center !important;
  padding-right: 25px !important;
}
.icon{
  margin: 0 8px;
}
.home {
  padding-bottom: 40px !important;
}
.home .chip-link {
  cursor: pointer !important;
  margin: 0 auto !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  background: #34A853 !important;
}
.home .chip-link span {
  color: white !important;
  letter-spacing: 1px !important;
}
.projects, .experience{
  transition: all ease-out 0.3s !important;
  display: flex;
  flex-direction: column;
  width: 50% !important;
  margin: 0 auto;
  margin-top: 10px !important;
  overflow-y: hidden;
  background: rgba(220,220,220,0.4) !important;
  padding-bottom: 20px !important;
  filter: none;
}
.projects {
  border: 2px solid #34A853;
}
.experience {
  border: 2px solid #4285F4;
}
.hideView {
  transition: all ease-out 0.3s !important;
  height: 0 !important;
  margin-top: 0px !important;
  padding: 0 !important;
  filter: blur(10px);
  border: none;
}
.chip-link.blue{
  background: #4285F4 !important;
}
.job-card {
  width: 90% !important;
  margin: 0 auto;
  margin-bottom: 10px;
}
/*************************************/
/*************************************/
/*************************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 59px;
  height: 59px;
}
::-webkit-scrollbar-thumb {
  background: rgba(175,175,175,0.4);
  border: 0px none #c0c0c0;
  border-radius: 65px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(100,100,100,0.7);
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background:rbga(0,0,0,0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/*************************************/
/*************************************/
/*************************************/
@media (max-width:768px) {
  .avatar.avatar-resize {
    width: 80% !important;
  }
  .projects, .experience{
    width: 90% !important;
  }
  .event-card-left{
    text-align: center;
    width: 80% !important;
    padding: 0 !important;
    margin: 0 auto;
    background-color: rgba(255,255,255,1) !important;
    border: 4px solid #698AAD;
  }
  .event-card-right{
    text-align: center;
    width: 80% !important;
    padding: 0 !important;
    margin: 0 auto;
    background-color: rgba(255,255,255,1) !important;
    border: 4px solid #698AAD;
  }
  .line-branch-left{
    display: none;
  }
  .line-branch-right{
    display: none;
  }
}
.up-arrow{
  text-align: center;
  color: white;
  background: #4285F4;
  width: fit-content;
  margin: 0 auto;
  font-size: 24px;
  padding: 3px 6px 6px 6px;
  border-radius: 200px;
  cursor: pointer;
}