*{
  user-select: none !important;
  text-rendering: optimizeLegibility !important;
}
a{
  text-decoration: none !important;
  text-decoration-style: none !important;
}
body{
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  background: rgb(231, 231, 231) !important;
}
#root{
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#projects{ 
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
::-webkit-scrollbar{
  display: none !important;
}